<h1 class="c1">Component 1</h1>
<h1 class="c2">Pranav is here</h1>
<app-manav></app-manav>
<h1 style="color: red; border:  2px solid black"> Hello Everyone</h1>
<h1 style="color:aquamarine; border: 2px solid black"> Hi I am {{title}}</h1>
<h1 style="color:blueviolet; border: 2px solid black"> {{data}}</h1>
<style>
    .H1 {
        color: blueviolet;
    }
</style>
<app-manav></app-manav>
<app-m1></app-m1>
<button (click)="getName('manav','pranav')">Click Me</button>
<h1 (mouseover)="getName1('Manav','Pranav')">Hi Everyone </h1>
<h1 (mouseleave)="getName1('Manav','Pranav')">Hello </h1>
<input type="text" #box (keyup)="getdata(box.value)" placeholder="Enter your name" name="name" />
<h1 class="H1">The name is : {{displayval}}</h1>
<input type="text" #box1 placeholder="Enter your second name" name="name" />
<button (click)="getdata2(box1.value)">ClickMe</button>
<h1>The name is : {{displayval2}}</h1>
<br /><br />
<button (click)="getdata2(box1.name)">name place: ClickMe</button>
<br /><br />
<button (click)="getdata2(box1.placeholder)">placeholder: ClickMe</button>
<br />
<br />
<br />
<button (click)="counter('minus')" style="border: 2px solid black">--</button>
<br />
<h1>COUNT: {{count}}</h1>
<br />
<button (click)="counter('add')" style="border: 2px solid black">++</button>
<br />
<br />
<!---Interpolation-->
<input type="text" name="user-name" value="{{name}}">
<!---Property binding-->
<br />
<br />
<input type="text" name="user-name" [value]="name">
<br />
<br />
<!---Method 1 of IF-else-->
<h1 *ngIf="show else elsebloack">Manav is here</h1>
<br />
<ng-template #elsebloack>
    <h1>Manav is not here</h1>
</ng-template>
<!---Method 2 of If-else-->
<h1 *ngIf="show2;then ifbloack else elsebloack"></h1>
<ng-template #ifbloack>
    <h1>Manav is here</h1>
</ng-template>
<ng-template #elsebloack>
    <h1>Manav is not here</h1>
</ng-template>
<br />
<!---Multiple condition-->
<ng-template [ngIf]="color==='red'">
    <h1>Red color is here</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1>Green color is here</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1>Blue color is here</h1>
</ng-template>
<br />
<!--- Switch Case-->
<div [ngSwitch]="age">
    <h1 *ngSwitchCase="21">Age is 21 old</h1>
    <h1 *ngSwitchCase="22">Age is 22 old</h1>
    <h1 *ngSwitchCase="23">Age is 23 old</h1>
    <h1 *ngSwitchCase="24">Age is 24 old</h1>
    <h1 *ngSwitchCase="25">Age is 25 old</h1>
    <h1 *ngSwitchDefault>Unknown Age</h1>
</div>
<!---For Loop-->
<h3 *ngFor="let item of namelist">Name:{{namelist}}</h3>
<h3 *ngFor="let item of namelist">Name is :{{item}}</h3>
<br />
<h3 *ngFor="let item of userslist"> {{item.name}}--{{item.email}}--{{item.phoneno}}</h3>
<br />
<!--- List of DATA-->
<ul *ngFor="let user of userslist">
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
    <li>{{user.phoneno}}</li>
</ul>
<!--- Multilist of DATA-->
<ul *ngFor="let li of lists">
    <li>{{li.name}}</li>
    <li>{{li.email}}</li>
    <li>Social Account</li>
    <li>{{li.acs}}</li>
    <li>Social Account</li>
    <ul *ngFor="let sc of lists">
        <li>{{sc.acs}}</li>
    </ul>
</ul>
<br/>
<h1 [style.color]="color">Style Binding</h1>
<button (click)="updateC()">UPDATE</button>
<br/>
<h1 [style.backgroundColor]="bgcolor" (mouseover)="updatebg()" (mouseleave)="updatebg2()" style="color:blue">Style Binding 2</h1>
<button (click)="updatebg()">Update Background</button>
<br/>
<br/>
<h1 style="color:blueviolet; text-align: center; font-size:20px; text-transform: uppercase;"> Header Component</h1>
<!---Header component-->
<app-header></app-header>
<br/>
<br/>
<h1 style="text-align: center; color:orange; background-color: crimson;"> BASIC FORM</h1>
<form #basicForm="ngForm" (ngSubmit)="formdata(basicForm.value)">
    <input type="text" ngModel name="username" placeholder="Enter your name">
    <br/><br/>
    <input type="text" ngModel name="email" placeholder="Enter your Email">
    <br/><br/>
    <input type="text" ngModel name="password" placeholder="Enter your password">
    <br/>
    <br/>
    <button>SUMBIT</button>
    <ul>
        <li>{{userdata.username}}</li>
        <li>{{userdata.email}}</li>
        <li>{{userdata.password}}</li>
    </ul>
</form>
<br/>
<br/>
<h1 style="text-align: center; color:orange; background-color: crimson;"> TOGGLE</h1>
<h1 *ngIf="display">
    Heading Tag
</h1>
<br/>
<br/>
<button (click)="toggle()">TOGGLE</button>
<h1> Text is {{display}}</h1>


